@font-face {
  font-family: "Poppins";
  src: url("../../src/assets/fonts/poppins-regular-webfont.woff2")
      format("woff2"),
    url("../../src/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  border: none;
  outline: none;
  appearance: none;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

