.navbar {
    position: fixed; /* Закрепляем шапку */
    height: 3rem;
    top: 0; /* Фиксируем у верхней границы */
    width: 100vw; /* Растягиваем на всю ширину */
    background-color: rgba(255, 255, 255, 0.7); /* Прозрачный белый фон */
    backdrop-filter: blur(10px); /* Размытие содержимого позади */
    z-index: 1000; /* Чтобы шапка оставалась поверх других элементов */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Лёгкая рамка для выделения */
  }
